.item-node__container {
    min-width: 200px;
    width: 200px;
}

.item-node__header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.item-node__header-left {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.item-node__header-right {
    display: flex;
    align-items: center;
}

.item-node__check-box {
    appearance: none;
    border: 1px solid rgba(29, 29, 29, 0.5);
    border-radius: 3px;
    margin: 0px;
    width: 16px;
    height: 16px;
}

.item-node__check-box:checked {
    background-color: #74A12E;
}

.item-node__check-box:disabled {
    background-color: lightgray;
}

.item-node__check-box_disabled {
    background-color: lightgray;
    border: 1px dashed rgba(29, 29, 29, 0.35);
}

.item-node__title {
    margin: 0;
    line-height: 16px;
}

.item-node__body {
    border-top: 1px dashed #292929;
}

.item-node__color-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.item-node__description {
    display: block;
    margin: 0px;
    padding: 2px 6px;
    font-size: 0.8em;
    width: 100%;
    line-height: 1.2em;
    max-height: calc(12em + 4px);
    box-sizing: border-box;
    word-wrap: break-word;
    overflow: hidden;
}

.item-node-sb__title {
    font-size: 25.8885px;
    font-weight: 700;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 0px;
    outline: none;
}

.item-node-sb__title:focus {
    background-color: whitesmoke;
    border-radius: 4px;
}

.item-node-sb__color-picker {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 8px;
}
