.origin-node {
    width: 160px;
    height: 60px;
    border: 4px double #292929;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    font-size: 1.20em;
    font-weight: bold;
    color: #292929
}

.origin-node__invalid {
    border-color: #D73A3A;
}