.n__action-outline {
    padding: 4px 7px 7px 4px;
    border-radius: 10px;
    border: 1px dashed rgba(0,0,0,0);
}

.n__action-outline__valid-target {
    border-color: #74A12E;
    background-image: url("../../assets/background-valid.svg");
    background-position: -10px -10px;
}

.n__action-outline__invalid-target {
    border-color: #D73A3A;
}

.n__action-outline:hover {
    border-style: solid;
}



.n {
    position: absolute;
    border: 1px solid #292929;
    border-radius: 7px;
    background-color: white;
    width: 200px;
    box-shadow: 3px 3px #292929;
    transition: border 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
}

.n:active {
    border: 1px solid #538DDF;
}

.n__state_complete {
    box-shadow: 3px 3px #74A12E;
}

.n__header {
    
    display: flex;
}

.n__cb-input {
    width: 16px;
    height: 16px;
    margin: auto 6px
}

.n__body {
    border-top: 1px solid #292929;
}

.n__h3 {
    margin: auto 0px
}

.n__p {
    margin: 0px 0px 0px 4px;
    font-size: small;
}

.n__toolbar {
    margin-top: 4px;
}

.n__toolbar-button-bar {
    display: flex;
    gap: 4px;
}

.n__buttons {
    background-color: rgba(0,0,0,0);
    width: 24px;
    height: 24px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
}

.n__node-line {
    stroke: #292929;
}



